.ProjectsPanel{
    padding: 0px;
    margin: 0px;
    width: 50%;
    height: 400px;
    display: inline-block;
}
.OptionBar{
    float: left;
    background-color: #262161;
    width: 15%;
    height: 100%;
    padding: 0px;
    box-sizing: border-box;
    margin: 0;
    color: white;
    text-align: center;
}
.Title{
    margin: 0px;
    padding:0px;
    font-size: 22px;
    color: #494554;
}
.ProjectsWrapper{
    width: 85%;
    height: 88%;
    overflow: auto;
    padding: 5px;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 3px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #E0F2F1; 
    background: transparent;
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #E0E0E0; 
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #80CBC4; 
}
.DashboardIcon{
    padding: 5px;
    box-sizing: border-box;
}




.New{
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    width: 100%;
}
.New:hover{
    color: #ED6A5A;
    background-color: white;
    cursor: pointer;
    box-shadow: 3px 0px 5px #A9A9A9;
}
.Title{
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
}


@media screen and (max-width: 699px) {
  .Main{
    padding: 0px;
    margin: 0;
    width: 100%;
}
.ProjectsWrapper{
    margin-top: 10px;
}
.Options{
    text-align:center;
    width: 100%;
    position: static;
    background-color: #424C6B;
    }
}

