.ProjectsPanel{
    margin: 0px;
    width: 100%;
    height: 730px;
    min-width: 400px;
}
.ToolbarSpacer{
    height: 36px;
}
.OptionBar{
    width: 100%;
    background-color: #2A3140;
    height: 50px;
    margin: 0;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}
.Spacer{
    flex: 1;
}
.Create{
    background-color: #D93240;
    padding: 7px;
}
.Create:hover{
    background-color: #b6222e;
    cursor: pointer;
}
.DashboardIcon{
    padding: 0px;
    height: 40px;
    width: 40px;
}
.Pagination{
    width: 100%;
    height: 60px;
}
.ProjectsWrapper{
    width: 100%;
    height: 540px;
}
.ComponentWrapper{
    width: 100%;
    height: 100%;
}


::-webkit-scrollbar {
    width: 3px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #E0F2F1; 
    background: transparent;
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #E0E0E0; 
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #80CBC4; 
}


@media(min-width: 800px){
    .ProjectsPanel{
        display: inline-block;
        width: 50%;
        height: 100vh;
        margin-top: 5px; 
        padding: 5px;
        box-sizing: border-box;
        min-height: 450px;
    }
    .ToolbarSpacer{
        width: 50%;
    }
    .OptionBar{
        height: 10%;
        max-height: 70px;
    }
    .Create{
        padding: 3px;
    }
    .Pagination{
        height: 10%;
    }
    .ProjectsWrapper{
        height: 80%;
    }
    .ComponentWrapper{
        height: 90%;
    }
}