.TableWrapper{
    width: 99%;
    height: 250px;
    overflow: auto; 
}
.Table{
    margin: auto;
    width: 90%;
    border-collapse: collapse;
}
.Table td, th {
    text-align: left;
    padding: 8px;
}

.Table tr:nth-child(even) {
    background-color: #dddddd;
}

.HeadElements{
    background-color: #2A3140;
    color: white;
}

.Title{
    text-align: center;
    color: #D93240;
}

.SubmitButton{
    color: white;
    border: none;
    background-color:#D93240;
}