.FormPanel{
    padding: 5px;
    box-sizing: border-box;
}
.FormPanel input[type=text], .FormPanel input[type=email], 
.FormPanel input[type=date], .FormPanel input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.FormPanel input[type=submit], .Cancel {
    width: 100%;
    background-color: #D93240;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Disabled{
    background-color: gray !important;
}

.Invalid{
    border-color: red !important;
}