.FormPanel{
    width: 90%;
    height: 70px;
    margin: auto;
}

.FormPanel form{
    width: 100%;
    height: 100%;
    margin-top: 0px;
    display: flex;
    align-items: center;
}

.FormPanel form input{
    height: 20px;
    margin: 20px;
    flex: 1;
    font-size: 10px;
}

.FormPanel form textarea{
    flex: 1;
    height: 25px;
    font-size: 10px;
}

.SubmitButton{
    color: white;
    border: none;
    background-color:#D93240;
}