.FormPanel{
    height: 90%;
    margin-top: 30px;
    font-size: 16px;
    width: 95%;
    margin: auto;
}
.FormPanel textarea{
    width: 95%;
    height: 60px;
    margin-top: 10px;
}
.FormPanel input{
    width: 95%;
    height: 30px;
    margin-top: 10px;
}
.SubmitButton{
    color: white;
    border: none;
    background-color:#D93240;
    font-size: 14px;
}
.SubmitButton:hover{
    background-color: red;
}
.Disabled{
    background-color: gray;
    color: white;
    border: none;
}
@media(min-width:769px){
    .FormPanel{
        height: 50%;
        margin-top: 12px;
        padding: 5px;
        box-sizing: border-box;
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 400px;
    }
    .FormPanel textarea{
        width: 98%;
        height: 20%;
        max-width: 755px;
        margin-top: 2px;
        margin-left: 2px;
    }
    .FormPanel input{
        width: 98%;
        margin-right: .7%;
        height: 14%;
        max-width: 750px;
        float: right;
    }
}