.Toolbar{
    background: white;
    width: 100%;
    height: 36px;
    max-width: 1400px;
    min-width: 400px;
    box-shadow: 0px 0.5px 1.5px 0px #C0C0C0;
    color: #2A3140;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
}

.Logout:hover{
    cursor: pointer;
    border-bottom: #D93240 solid 1px;
    font-size: 11px;
}

.NavigationLogo{
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
        -webkit-animation-name: spin;
    -webkit-animation-duration: 25000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 25000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 25000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 25000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.Navigation{
    display: flex;
    align-items: center;
}

.NavigationItems ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.NavigationItems li{
    margin-right: 5px;
    font-size: 10px;
}

.NavigationItems a:hover{
    border-bottom: #EE4223 solid 1px;
    font-size: 11px;
}
.Spacer{
    flex: 1;
}

.Toolbar a {
    text-decoration: none;
    margin-right: 10px;
    color: inherit;
}

.Toolbar NavLink:visited{
    color: inherit;
}


@media(max-width: 769px){
    .NavigationItems{
        display: none;
    }
}

@media(min-width: 768px){
    .DrawerToggleButton{
        display: none;
    }
}