.BackdropPanel{
    position: fixed;
    width: 90%;
    height: 90%;
    background: white;
    z-index: 200;
    top: 5%;
    left: 5%;
}

.CloseX{
    float: right;
    margin-right: 15px;
    margin-top: 10px;
    color: #606060;
}

.CloseX:hover{
    cursor: pointer;
}