.Project{
    height: 123px;
    width: 100%;
    text-align: left;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    background-color: white;
    border: 0.1px #E0E0E0 solid;
}
.Title{
    height: 25px;
    margin-top: 1px;
    font-size:22px;
    font-weight: bold;
    color: #404040;
    overflow: hidden;
    width: 90%;
}
.Project:hover{
    cursor: pointer;
    background-color: #EDE8E6;
    box-shadow: 0px 1px 1px #F9F7F7;
}

.ProjectSelected{
    cursor: pointer;
    background-color: #F8FBFF;
    box-shadow: 0px 1px 1px #E0E0E0;
}
.Delivery{
    font-size: 12px;
    color: #5F6570;
    font-weight: 600;
    display: inline-block;
}

.Description{
    height: 50px;
    color:#838383;
    font-size: 15px;
    overflow: hidden;
}
.Status{
    float: right;
    color: white;
    padding: 3px;
    box-sizing: border-box;
    width: 20%;
    min-width: 90px;
    text-align: center;
    font-size: 13px;
}
.Open{
    background-color: #404040;
}
.InProgress{
    background-color: #EDBA3E;
}
.Completed{
    background-color: #5CAB7D;
}
.Canceled{
    background-color: #a81f2b;
}
.Delivered{
    background-color: #005379;
}
.Hold{
    background-color: #F47B2A;
}
@media(min-width: 800px){
    .Project{
        height: 20%;
    }
    .Status{
        font-size: 10px;
        padding: 2px;
        width: 5%;
        min-width: 55px;
    }
    .Title{
        height: 35%;
        margin: 0px;
        font-size: 16px;
        padding: 0;
    }
    .Description{
        font-size: 10px;
        height: 35%;
    }
    .Delivery{
        font-size: 8px;
        height: 20%;
    }
}