.Navigation{
    background-color: #FFFFFF;
    height: 75px;
    box-shadow: 1px 1px 5px 1px #C0C0C0;
}
.LayoutWrapper{
    background-color: #FFFFFF;
    margin:0;
    padding: 0;
    height: 360px;
    margin-top: 5px;
    box-shadow: 1px 1px 3px 1px #B0B0B0;
}

.Navigation li{
    display: inline-block;
    box-sizing: border-box;
    padding: 7px;
    font-size: 15px;
}

.Navigation ul{
    margin: 0;
    padding: 0;
}

.Link {
    float: right;
    height: 50px;
    margin-top: 20px;
}

.Link a{
    text-decoration: none;
    color: inherit;
    height: 50%;
}

.Link:hover{
    border-bottom: #ED4322 solid 2px;
}

@media screen and (max-width: 699px) {
    
    .Link{
    float: none;
    margin-top: 0px;
    }
    .Navigation li{
    padding: 5px;
    box-sizing: border-box;
    font-size: 25px;
    display: block;
    }
    .Navigation ul{
    text-align: center;
    }
}
