.Navigation li{
    display: inline-block;
    box-sizing: border-box;
    padding: 7px;
    font-size: 15px;
}

.Navigation ul{
    margin: 0;
    padding: 0;
}

.Link{
    float: right;
    margin-top: 25px;
    text-decoration: none;
}

.Navigation li:hover{
    cursor: pointer;
    background-color: #F0FFFF;
    color: #ED4322;
}
.Navigation li a{
    text-decoration: none;
}
.Navigation li a:visited{
    color: inherit;
}

@media screen and (max-width: 699px) {
    
    .Link{
    float: none;
    margin-top: 0px;
    text-decoration: none;
    }
    .Navigation li{
    padding: 5px;
    box-sizing: border-box;
    font-size: 25px;
    display: block;
    }
    .Navigation ul{
    text-align: center;
    }
}
