.ActivitiesPanel{
    height: 350px; 
    width: 100%;
}
.Title{
    text-align: center;
    height: 50px;
    font-size: 25px;
    margin-top: 20px;
    color: #D93240;
}
.TableWrapper{
    height: 250px;
    overflow: auto;
    margin: 2px;
    background-color: #F8F8F8;
}
.Table td, th {
    text-align: left;
    padding: 9px;
}
.Table tr:nth-child(even) {
    background-color: #d8dbe4;
}
.HeadElements{
    background-color: #2A3140;
    color: white;
}
.Table{
    min-width:600px;
    max-height: 240px;
    font-size: 15px;
    border-collapse: collapse;
    background-color: white;
}
@media(min-width: 769px){
    .ActivitiesPanel{
        height: 60%;
    }
    .TableWrapper{
        height: 80%;
        overflow: auto;
        margin: 2px;
    }
    .Title{
        height: 10%;
        margin-top: 25px;
    }
    .Table{
        max-width: 800px;
        margin: auto;
        margin-top: 5px;
    }
}