.TasksPanel{
    height: 47%;
    width: 100%;
    box-sizing: border-box;
    margin-top: 4px;
}

.TasksWrapper{
    height: 130px;
    overflow: auto;
}
.Header{
    background: #616161;
    color: white;
}