.SideDrawer{
    height: 100%;
    background-color: white;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    z-index: 200;
    max-width: 400px;
    transform: translateX(+100%);
    transition: transform ease-out 0.7s;
}

.SideDrawer.Show{
    transform: translateX(0);
}

.SideDrawer ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.SideDrawer a{
    text-decoration: none;
    color: inherit;
}

.Toolbar NavLink:visited{
    color: inherit;
}