.Form input{
    width: 70%;
    height: 30px;
    margin-top: 10px;
}
.SubmitButton{
    color: white;
    border: none;
    background-color:#D93240;
    font-size: 14px;
}
.Disabled{
    color: white;
    border: none;
    background-color:gray;
    font-size: 14px;
}