.LoginPanel{
    width: 400px;
    background-color: white;
    margin: auto;
    height: 250px;
    margin-top: 30%;
}
.ToolbarSpacer{
    height: 36px;
    width: 100%;
}
.LoginWrapper{
    text-align: center;
}
.LoginWrapper h1{
    margin-bottom: 10px; 
    color: #2A3140;
}
@media(min-width: 769px){
    .LoginPanel{
        margin-top: 10%;
    }
}